@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";
@use "themes/orange";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.mix-focus:focus,
.mix-focus:focus:hover,
.mix-focus[class*="_focus"],
.mix-focus[class*="_focus"]:hover {
    animation: focus var(--transition-default);
    box-shadow: 0 0 0 2px var(--color-control-focus);
}

.mix-focus:focus:active,
.mix-focus:focus:active:hover,
.mix-focus[class*="_focus"]:active,
.mix-focus[class*="_focus"]:active:hover {
    animation-name: none !important;
}

@keyframes focus {
    0% {
        box-shadow:
            0 0 0 0 var(--color-control-focus),
            0 0 0 0 var(--color-control-active);
    }

    to {
        box-shadow: 0 0 0 2px var(--color-control-focus), 0 0 0 4px transparent;
    }
}
