.article-list {
    width: 100%;
    display: flex;
}

.big {
    flex-direction: column;
    row-gap: var(--space-2xl);
}

.small {
    flex-wrap: wrap;
    gap: var(--space-xl) var(--space-2xl);
}

.nowrap {
    flex-wrap: nowrap;
}
