.article-details-page {
    min-height: 100%;
    padding-bottom: var(--space-4xl);
}

.header {
    margin-bottom: var(--space-m);
}

.not-found {
    text-align: center;
    font: var(--font-l);
    margin: var(--space-3xl) auto 0;
}

.block-title {
    margin-bottom: var(--space-m);
}

.recommendations,
.comments {
    margin-top: var(--space-4xl);
}

.recommendations-list {
    overflow-x: auto;
    padding-bottom: var(--space-3xs);
}

.comment-form {
    margin-bottom: var(--space-2xl);
}
