.article-details-page {
    min-height: 100%;
}

.not-found {
    text-align: center;
    font: var(--font-l);
    margin: var(--space-3xl) auto 0;
}

.comments-title {
    margin-bottom: var(--space-m);
}

.comment-form {
    margin-bottom: var(--space-4xl);
}

.comments {
    margin-top: var(--space-4xl);
}
