.title,
.fields {
    margin-bottom: var(--space-l);
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.fields {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-m);
}

.error {
    margin-bottom: var(--space-s);
}

.submit {
    margin-left: auto;
}
