.button {
    cursor: pointer;
    color: var(--color-primary);
    border-radius: var(--button-radius);
    padding: var(--button-padding);
    height: fit-content;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: opacity var(--transition-default);

    &:hover {
        opacity: 0.95;
    }

    &:active {
        opacity: 0.9;
    }
}

.xs {
    --button-padding: var(--space-3xs) var(--space-xs);
    --button-radius: var(--space-3xs);
    --button-square-size: var(--space-2xl);

    font: var(--font-xs);
}

.s {
    --button-padding: var(--space-2xs) var(--space-s);
    --button-radius: var(--space-2xs);
    --button-square-size: var(--space-3xl);

    font: var(--font-s);
}

.m {
    --button-padding: var(--space-xs) var(--space-m);
    --button-radius: var(--space-2xs);
    --button-square-size: var(--space-4xl);

    font: var(--font-m);
}

.l {
    --button-padding: var(--space-s) var(--space-l);
    --button-radius: var(--space-2xs);
    --button-square-size: var(--space-5xl);

    font: var(--font-l);
}

.square {
    width: var(--button-square-size);
    height: var(--button-square-size);
    padding: 0;
}

.clear,
.clear-inverted {
    border: none;
    outline: none;
    background: none;
    transition: var(--transition-default);
}

.clear {
    color: var(--primary-color);

    &:hover {
        background: var(--primary-color-hover);

        &.only-icon {
            background: none;
        }
    }
}

.clear-inverted {
    color: var(--inverted-primary-color);

    &:hover {
        background: var(--inverted-primary-color-hover);

        &.only-icon {
            background: none;
        }
    }
}

.outline {
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.background,
.background-inverted {
    border: none;
    outline: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
}

.background-inverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}
